#title {
    text-align: center;
}

#color-palette {
    text-align: center;
    width: 100%;
}

.color {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    color: red;
    border: 1px solid;
    border-color: black;
}