main {
  text-align: center;
}

#title {
  font-family: 'VT323', monospace;
  font-size: 45px;
  width: 100%;
  letter-spacing: 5px;
  transition: 1s;
}

#palette-board {
  width: 252px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 10px;
}

#color-palette {
  display: flex;
}

#eraser {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

#eraser img{
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

#color-picker-board {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

#color-picker-board img{
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

#color-picker {
  display: none;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

#clear-board {
  width: 100px;
}

#generate-conteiner {
  width: 220px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
}

#board-size {
  display: flex;
  margin-right: 20px;
  width: 100px;
}

#generate-board {
  width: 100px;
  font-size: 13px;
}

