main {
  text-align: center;
}

#title {
  font-family: 'VT323', monospace;
  font-size: 45px;
  width: 100%;
  letter-spacing: 5px;
  transition: 1s;
}

#color-palette {
  display: flex;
  flex-wrap: nowrap;
  width: 210px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#color-picker {
  display: flex;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

#color-picker img{
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}
